{% extends 'base.html' %}
{% from 'macros.html' import table_element, calendar_element %}

{% block title %} My schedule {% endblock %}
{% block meta %}
<meta id="calendar-settings" month={{month}} year={{year}}>
{% endblock %}
{% block content %}
<body>
  <script>

    // Set clicked day as available/unavailable
    function toggleAvailability(clicked_id) {
      const element = document.getElementById(clicked_id);

      let new_class
      if (element.className == "unset") {
        new_class = "available";
      } else if (element.className == "available") {
        new_class = "unavailable";
      } else {
        new_class = "unset";
      }
        
      element.classList.remove(element.className);
      element.classList.add(new_class);
    }

    // POST month availability
    async function saveAvailability() {

      // Build data

      let availability_data = {}
      const calendar_settings = document.querySelector("meta[id='calendar-settings']")
      availability_data["month"] = calendar_settings.getAttribute("month");
      availability_data["year"] = calendar_settings.getAttribute("year");

      for (availability of ["available", "unavailable", "unset"]) {

        availability_data[availability] = []
        const available_days = document.getElementsByClassName(availability)

        for (const available_day of available_days) {
          availability_data[availability].push(available_day.textContent.trim())
        }
      }

      // POST data
      try {
        const response = await fetch(document.URL, {
          method: "POST",
          body: JSON.stringify(availability_data),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        });
        const json = await response.json();
        console.log(json);
        alert("Saved!");
      } catch (error) {
        console.error(error)
        alert("Something went wrong...");
      }
    }

  </script>

  {{ calendar_element(calendar_configuration, player_availability, True) }}

</body>
{% endblock %}